<nav class="navbar-collapse bs-navbar-collapse">
  <ul id="sns-items" class="nav navbar-nav navbar-right">
  </ul>
  <div id="footer-txt" class="col-sm-12">
    <ul class="nav navbar-nav">
      <li class="item"><a href="/blog" onclick="gapg({'page':'/blog','title':'Blog'})">Blog</a></li>
      <li class="item"><a href="/about">About</a></li>
      <li class="item"><a href="mailto:feedback@quire.io">Feedback</a></li>
      <li class="item"><a href="/pricing">Pricing</a></li>
      <li class="item"><a href="/terms">Terms</a></li>
      <li class="item"><a href="/faq">FAQ</a></li>
    </ul>
  </div>
</nav>