<div id="keikai-logo" class="navbar-header">
  <button id="menu-toggle" class="navbar-toggle x30 cmn-toggle-switch htx" type="button">
    <span>toggle menu</span>
  </button>
  <h1 class="keikai-logo">
    <a id="home" href="/">
      KEIKAI
    </a>
  </h1>
</div>
<nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation">
  <ul id="header-icons" class="nav navbar-nav navbar-right">
    <li class="item active"><a href="/blog" onclick="gapg({'page':'/blog','title':'Blog'})">Blog</a></li>
    <li class="item "><a href="/#contact">Contact</a></li>
  </ul>
</nav>
