---
layout: default
---
<div id="post">

  <div class="left-part">
    <h5 class="category">
      <a href="{{ page.categories[0] | prepend: "/category/" | prepend: site.baseurl }}">{{ page.categories[0] }}</a> · <span>{{ page.date | date: "%b %-d, %Y" }}<span>
    </h5>
    <h2 class="title">{{ page.title }}</h2>
    <h5 class="author">
      <img src="{{ page.authorImg | prepend: site.baseurl }}">
      <div>
        <a href="{{page.authorLink}}" class="name">{{ page.author }}</a>
        <div class="desc">{{ page.authorDesc }}</div>
      </div>
    </h5>
    <div class="share">
      {% assign postUrl = (site.url | append: site.baseurl | append: page.url) %}
      <a href="http://twitter.com/share?text={{page.title}}&url={{postUrl}}&via={{site.twitter_account}}" class="twitter" target="_blank"></a>
      <a href="http://www.facebook.com/sharer.php?u={{postUrl}}" class="fb" target="_blank"></a>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{postUrl}}&title={{page.title}}&summary=&source=" target="_blank" class="in"></a>
    </div>
    <span class="clearfix"></span>
  </div>
  <div class="right-part">
    <div class="markdown">{{ content }}</div>
    <div class="bottom">
    </div>
  </div>
  <span class="clearfix"></span>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
