---
layout: default
---
<div id="post">

  <div class="left-part">
    <h5 class="category">
      <a href="{{ page.categories[0] | prepend: "/category/" | prepend: site.baseurl }}">{{ page.categories[0] }}</a> · <span>{{ page.date | date: "%b %-d, %Y" }}<span>
    </h5>
    <h2 class="title">{{ page.title }}</h2>
    <h5 class="author">
      <img src="{{ page.authorImg | prepend: site.baseurl }}">
      <div>
        <a href="{{page.authorLink}}" class="name">{{ page.author }}</a>
        <div class="desc">{{ page.authorDesc }}</div>
      </div>
    </h5>
    <div class="share">
      {% assign postUrl = (site.url | append: site.baseurl | append: page.url) %}
      <a href="http://twitter.com/share?text={{page.title}}&url={{postUrl}}&via={{site.twitter_account}}" class="twitter" target="_blank"></a>
      <a href="http://www.facebook.com/sharer.php?u={{postUrl}}" class="fb" target="_blank"></a>
      <a href="https://plus.google.com/share?url={{postUrl}}" target="_blank" class="gplus"></a>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{postUrl}}&title={{page.title}}&summary=&source=" target="_blank" class="in"></a>
    </div>
    <span class="clearfix"></span>
  </div>
  <div class="right-part">
    <div class="markdown">{{ content }}</div>
    <div class="bottom">
      <hr>
      <div id="disqus_thread"></div>
      <hr>
      <div class="related">
        {% assign count = 0 %}
        {% for r in page.relatedPosts %}
          {% for p in site.posts %}
            {% if r == p.title %}
              <a href="{{ p.url | prepend: site.baseurl}}">
                <div class="img" style="background-image: url('{{ p.image | prepend: "/images/" | prepend: site.baseurl }}')"></div>
                <h5>
                  POSTED BY {{ p.author }} · {{ p.date | date: "%b %-d, %Y" }}
                </h5>
                <h3 class="author">{{ p.title }}</h3>
              </a>
              {% assign count = count | plus: 1 %}
              {% assign clearfix = count | modulo: 2 %}
              {% if clearfix == 0 %}
                <span class="clearfix"></span>
              {% endif %}  
            {% endif %}
          {% endfor %}
        {% endfor %}
        <span class="clearfix"></span>
      </div>
    </div>
  </div>
  <span class="clearfix"></span>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'keikai';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
